<section class="#{ if listStyle is 'tile' then 'column-layout' else '' }" data-for="entry in data">
  <article data-visible="test entry">
    <h1 data-html="highlight entry.title"></h1>
    <code class="important block">
      <div data-html="formatSyntax entry"></div>
    </code>
    <dl class="important" data-for="arg in entry.args or []">
      <dt data-html="highlight arg.name"></dt>
      <dd data-html="arg.html"></dd>
    </dl>
    <div class="notes" data-for="p in entry.p or []">
      <p data-html="p"></p>
    </div>
  </article>
</section>