<nav class="primary">
  <header>RecoilJS</header>
  <section data-for="category in navSections">
    <h1>
      #{ category.title }
    </h1>
    <$ data-for="section in category.sections">
      <a href="#{ section.href }" class="#{ if section.controller and activeSection instanceof section.controller then 'active' else '' }">
        <i class="#{ section.icon }"></i> #{ section.title }
      </a>
    </$>
  </section>
</nav>

<section id="main-content">
  <header data-if="activeSection?">
    <h1><span class="category">#{ activeSection.category } // </span><span class="blue">#{ activeSection.title }</span></h1>
    <nav class="toolbar">
      <button data-if="activeSection.handleListButton" data-update="activeSection.handleListButton( $element, 'list' )" data-click="activeSection.listStyle = 'list'">
        <i class="icon-list"></i> List View
      </button>
      <button data-if="activeSection.handleListButton" data-update="activeSection.handleListButton( $element, 'tile' )" data-click="activeSection.listStyle = 'tile'">
        <i class="icon-th-large"></i> Tile View
      </button>
      <div class="search-wrapper" data-if="activeSection.searchEnabled?">
        <i class="icon-search"></i>
        <input type="text" class="search" placeholder="Search..." data-value="activeSection.searchTerm" data-live/>
      </div>
    </nav>
  </header>
  <div class="section-wrapper" data-compose="activeSection"></div>
</section>