html { margin: 0; padding: 0; height: 100%; background: #f0f0f0; }
html * { box-sizing: border-box; }
body { margin: 0; padding: 40px; font-family: 'Helvetica Neue', 'Segoe UI', sans-serif; font-size: 14px; width: 600px; margin: 0 auto; height: 100%;
  box-shadow: 3px 0 10px rgba( 0, 0, 0, 0.25 ); border: 1px solid #ccc; border-width: 0 1px; background: white; color: #999; overflow: hidden; }
h1 { font-size: 50px; font-weight: 100; margin: 0 0 20px; padding: 0; border-bottom: 1px solid #eee; }
input[ type = text ] { width: 100%; height: 40px; font-size: 16px; border-radius: 5px; border: 1px solid #ddd; padding: 0 20px;
  font-family: 'Helvetica Neue', 'Segoe UI', sans-serif; font-weight: 100; font-size: 18px; }
h2 { font-size: 30px; font-weight: 100; margin: 40px 0 20px; padding: 0; position: relative; }
ul { margin: 0; padding: 0; list-style: none; }
ul li { padding: 0; margin: 0 0 3px; font-size: 18px; font-weight: 100; height: 40px; line-height: 40px; }
ul li:nth-child( odd ) { background: #f9f9f9; position: relative; }
ul li:nth-child( odd )::before { top: 0; bottom: 0; right: 100%; width: 40px; content: ''; position: absolute; background: #f9f9f9; }
ul li:nth-child( odd )::after  { top: 0; bottom: 0;  left: 100%; width: 40px; content: ''; position: absolute; background: #f9f9f9; }
ul li label { display: block; cursor: pointer; }
ul li label input[ type = checkbox ] { margin-right: 10px; position: relative; top: -2px; }
ul.completed li { text-decoration: line-through; }
h2 button { position: absolute; background: #25A1CB; bottom: 0; right: -52px; border: none; height: 30px; line-height: 30px;
  color: white; font-size: 16px; font-weight: 100; padding: 0 20px; border-radius: 5px 0 0 5px; font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
  transition: all 0.35s; cursor: pointer; }
h2 button::after { content: ''; position: absolute; bottom: -10px; right: 0; width: 0; height: 0; border-width: 5px;
  border-color: #1D7F9F transparent transparent #1D7F9F; border-style: solid; }
h2 button:hover { padding: 0 30px; background: #45B8DD; }
h2 button.clear { background: #cb25a1; }
h2 button.clear::after { border-color: #9f1d7f transparent transparent #9f1d7f; }
h2 button.clear:hover { background: #dd45b8; }