<section>
  <article class="has-icon">
    <i class="icon-download"></i>
    <h1>Where can I download RecoilJS?</h1>
    <p>The best place to download RecoilJS is its Github page.  While RecoilJS is still in Alpha, the best place to get it is from the master branch by following the links below:</p>
    <dl>
      <dt>Minified</dt>
      <dd><a href="https://raw.github.com/robertmesserle/RecoilJS/master/recoil.min.js">https://raw.github.com/robertmesserle/RecoilJS/master/recoil.min.js</a></dd>

      <dt>Development</dt>
      <dd><a href="https://raw.github.com/robertmesserle/RecoilJS/master/recoil.js">https://raw.github.com/robertmesserle/RecoilJS/master/recoil.js</a></dd>
    </dl>
  </article>
</section>
