<section>
  <article class="has-icon">
    <i class="icon-magic"></i>
    <h1>What is RecoilJS?</h1>
    <p>Recoil is a light-weight JavaScript framework that provides tools such as data-binding and routing, without getting in your way as a developer, or pushing any particular structure.</p>
  </article>
  <article class="has-icon">
    <i class="icon-asterisk"></i>
    <h1>Why should I use RecoilJS?</h1>
    <p>The most important feature of RecoilJS is the architecture:  Recoil was architected in such a way that it will not limit you as a developer.  It provides a series of tools that you can use; however, it is totally up to you how much or how little you use.</p>
    <p>Some other features:</p>
    <dl>
      <dt>Two-way data-binding</dt>
      <dd>Data-binding is a way for you to link your DOM elements to your data.  This eliminates the hassle of manually syncing your UI and data.</dd>

      <dt>Templating</dt>
      <dd>Recoil provides an easy templating syntax that gives you access to dynamic features such as logical blocks, iteration, and of course, text replacement.  More importantly, these templates will intelligently re-render individual parts as your data changes.</dd>
      
      <dt>Composition</dt>
      <dd>Composition gives you a way to load in components as controller/view pairs.  This is particularly useful for loading modules, or sections of your site.  Of course, you can also load in standalone views, or choose a view and controller to load in together.</dd>

      <dt>Routing</dt>
      <dd>Recoil provides a simple router that lets you easily handle all hash changes to provide linkable URL's within single-page applications.</dd>

      <dt>You can bind to anything!</dt>
      <dd>In most data-binding frameworks, you are limited to models that you control.  This was a primary goal for Recoil, as it helps keep Recoil out of your way.</dd>
    </dl>
  </article>
  <article class="has-icon">
    <i class="icon-question-sign"></i>
    <h1>How does it work?</h1>
    <p>Recoil works by using a process called dirty-checking.  Basically, when the user interacts with the page, Recoil takes note that the data may have changed and iterates through your data-bindings to see if any UI updates are necessary to keep everything in sync.  Contrary to many initial assumptions, this does not rely on intervals or timeouts, and instead relies on user-interaction to trigger a dirty check.  While it may sound like a lot of work, it all takes place very efficiently resulting in smooth, seamless UI updates.</p>
  </article>
</section>