#main-content
  position absolute
  top 0
  right 0
  left 220px
  bottom 0
  overflow hidden
  > header
    padding 0
    $stripe1 = hsl( 0, 0, 12 )
    $stripe2 = hsl( 0, 0, 10 )
    position absolute
    top 20px
    left 0
    right 0
    height 95px
    background-image linear-gradient( top right, $stripe1 25%, $stripe2 25%, $stripe2 50%, $stripe1 50%, $stripe1 75%, $stripe2 75% )
    background-size 50px 50px
    border-width 1px 0
    border-color $border
    border-style solid
    padding 0 40px
    color white
    position relative
    h1
      font-size 30px
      margin 0
      line-height 95px
      font-weight 100
      font-family $alt-font
      text-transform uppercase
    .search-wrapper
      position absolute
      width 220px
      bottom 33px
      right 40px
      height 60px
      color hsl( 0, 0, 75% )
      i
        position absolute
        bottom 5px
        left 0
      input
        color hsl( 0, 0, 90% )
        position absolute
        bottom 0
        right 0
        left 20px
        border-width 0 0 1px 0
        border-color hsl( 0, 0, 50% )
        border-style solid
        background transparent
        box-shadow none
        font-size 18px
        font-family $font
        font-weight 100
        outline none

  .section-wrapper
    position absolute
    top 115px
    left 0
    right 0
    bottom 0
    overflow auto
    padding 40px
    .column-layout
      column-width 500px
      column-gap 20px
      article
        column-break-inside avoid
        padding 20px
        border 1px solid hsl( 0, 0, 85% )
        margin-bottom 20px
        border-radius 5px
        background linear-gradient( white, hsl( 0, 0, 98 ) )
        h1
          margin-top 0
    article
      max-width 780px
      &:first-of-type
        h1
          margin-top 0
      h1
        font-size 30px
        font-weight 100
        margin 40px 0 20px
        color $blue
      p
        color #999
      p, li, dt, dd
        font-family sans-serif
        font-weight normal
        font-size 14px
        line-height 1.5em
      dl
        dt, dd
          border-left 10px #ddd solid
          margin 0
          padding 0 10px
        dt
          font-family 'Century Gothic', sans-serif
          text-transform uppercase
          font-weight 100
          font-size 16px
        dd
          margin-bottom 20px
          color #999
        &.important
          dt, dd
            border-color hsl( 200, 50%, 80% )
          dt
            color $blue