#main-content
  position absolute
  top 0
  right 0
  left 220px
  bottom 0
  overflow hidden
  > header
    padding 0
    $stripe1 = hsl( 0, 0, 12 )
    $stripe2 = hsl( 0, 0, 10 )
    position absolute
    top 20px
    left 0
    right 0
    height 95px
    background-image linear-gradient( top right, $stripe1 25%, $stripe2 25%, $stripe2 50%, $stripe1 50%, $stripe1 75%, $stripe2 75% )
    background-size 50px 50px
    border-width 1px 0
    border-color $border
    border-style solid
    padding 0 40px
    color white
    position relative
    h1
      font-size 30px
      margin 0
      line-height 95px
      font-weight 100
      font-family $alt-font
      text-transform uppercase
    .toolbar
      position absolute
      right 40px
      top 20px
      bottom 20px
      button
        display inline-block
        float left
        margin-left 20px
        border none
        background transparent
        color hsl( 0, 0, 50 )
        line-height 25px
        position relative
        top 10px
        padding 0
        i
          display block
          font-size 16px
        &:hover:not(:disabled)
          color hsl( 0, 0, 90 )
          cursor pointer
        &.selected
          color hsl( 0, 0, 90 )
      .search-wrapper
        float left
        color hsl( 0, 0, 75% )
        display inline-block
        padding 15px 0 15px 30px
        margin 0 0 0 30px
        box-shadow -1px 0 hsl( 0, 0, 30 )
        i
          display inline-block
        input
          width 220px
          color hsl( 0, 0, 90% )
          border-width 0 0 1px 0
          border-color hsl( 0, 0, 50% )
          border-style solid
          background transparent
          box-shadow none
          font-size 18px
          font-family $font
          font-weight 100
          outline none
          height 25px
          line-height 25px

  .section-wrapper
    position absolute
    top 115px
    left 0
    right 0
    bottom 0
    overflow auto
    padding 40px
    .column-layout
      column-width 500px
      column-gap 20px
      article
        column-break-inside avoid
    article
      max-width 780px
      padding 20px
      border 1px solid hsl( 0, 0, 85% )
      margin-bottom 20px
      border-radius 5px
      background linear-gradient( white, hsl( 0, 0, 98 ) )
      box-shadow 3px 3px 6px rgba( black, 0.05 )
      &.has-icon
        padding-left 120px
        position relative
        > i
          stripes hsl( 200, 50, 20 ), hsl( 200, 50, 22 )
          position absolute
          top -5px
          left 20px
          bottom -5px
          font-size 60px
          text-align center
          width 80px
          padding-top 10px
          display block
          border-radius 5px
          color white
          &:not([class^="icon-"])
            font-family $alt-font
            font-style normal
            font-weight bold
      h1
        font-size 30px
        font-weight 100
        margin 0 0 20px
        color $blue
        border-bottom 1px solid hsl( 0, 0, 90 )
        &:last-child
          margin-bottom 0
      p
        color #999
      p, li, dt, dd
        font-family sans-serif
        font-weight normal
        font-size 14px
        line-height 1.5em
      dl
        dt, dd
          border-left 10px #ddd solid
          margin 0
          padding 0 10px
        dt
          font-family 'Century Gothic', sans-serif
          text-transform uppercase
          font-weight 100
          font-size 16px
        dd
          margin-bottom 20px
          color #999
        &.important
          dt, dd
            border-color hsl( 200, 50%, 80% )
          dt
            color $blue