#main-content
  position absolute
  top 0
  right 0
  left 220px
  bottom 0
  overflow hidden
  > header
    padding 0
    stripes hsl( 0, 0, 12 ), hsl( 0, 0, 10 )
    position absolute
    top 20px
    left 0
    right 0
    height 95px
    border-width 1px 0
    border-color $border
    border-style solid
    padding 0 40px
    color white
    position relative
    h1
      font-size 30px
      margin 0
      line-height 95px
      font-weight 100
      font-family $alt-font
      text-transform uppercase
    .toolbar
      position absolute
      right 40px
      top 20px
      bottom 20px
      button
        display inline-block
        float left
        margin-left 20px
        border none
        background transparent
        color hsl( 0, 0, 50 )
        line-height 25px
        position relative
        top 10px
        padding 0
        i
          display block
          font-size 16px
        &:hover:not(:disabled)
          color hsl( 0, 0, 90 )
          cursor pointer
        &.selected
          color hsl( 0, 0, 90 )
      .search-wrapper
        float left
        color hsl( 0, 0, 75% )
        display inline-block
        padding 15px 0 15px 30px
        margin 0 0 0 30px
        box-shadow -1px 0 hsl( 0, 0, 30 )
        i
          display inline-block
        input
          width 220px
          color hsl( 0, 0, 90% )
          border-width 0 0 1px 0
          border-color hsl( 0, 0, 50% )
          border-style solid
          background transparent
          box-shadow none
          font-size 18px
          font-family $font
          font-weight 100
          outline none
          height 25px
          line-height 25px

  .section-wrapper
    position absolute
    top 115px
    left 0
    right 0
    bottom 0
    overflow auto
    padding 40px
    .column-layout
      column-width 500px
      column-gap 20px
      article
        column-break-inside avoid
    article
      max-width 780px
      padding 20px
      border 1px solid hsl( 0, 0, 85% )
      margin-bottom 20px
      border-radius 3px
      background linear-gradient( white, hsl( 0, 0, 99 ) )
      box-shadow 3px 3px 6px rgba( black, 0.05 )
      &.has-icon
        padding-left 120px
        position relative
        margin-bottom 40px
        > i
          stripes hsl( 200, 80, 32 ), hsl( 200, 80, 30 )
          position absolute
          top -10px
          left 20px
          bottom -5px
          font-size 60px
          text-align center
          width 80px
          padding-top 10px
          display block
          color white
          text-shadow 0 0 10px rgba( white, 0.8 )
          border-radius 0 0 5px 5px
          box-shadow 2px 2px 5px rgba( black, 0.25 )
          &::after
            content ''
            right -10px
            border-width 5px
            border-style solid
            width 0
            height 0
            position absolute
            border-color transparent transparent hsl( 200, 80, 15 ) hsl( 200, 60, 20 )
            top 0
          &:not([class^="icon-"])
            font-family $alt-font
            font-style normal
            font-weight bold
      h1
        font-size 30px
        font-weight 100
        margin 0 0 20px
        color $blue
        border-bottom 1px solid hsl( 0, 0, 90 )
        &:last-child
          margin-bottom 0
      p
        color #999
      p, li, dt, dd
        font-family sans-serif
        font-weight normal
        font-size 14px
        line-height 1.5em
      dl
        dt, dd
          border-left 10px #ddd solid
          margin 0
          padding 0 10px
        dt
          font-family 'Century Gothic', sans-serif
          text-transform uppercase
          font-weight 100
          font-size 16px
        dd
          margin-bottom 20px
          color #999
        &.important
          dt, dd
            border-color hsl( 200, 50%, 80% )
          dt
            color $blue