@media ( max-width: 1400px )
  #main-content > header .toolbar
    button
      display none
    .search-wrapper
      box-shadow none
@media ( max-width: 1200px )
  #main-content > header h1 .category
    display none
@media ( max-width: 900px )
  #main-content
    > header h1
      display none
    .section-wrapper
      article.has-icon
        padding-left 20px
        > i
          display none
