// Fonts
$font         = 'Segoe UI Light', 'Helvetica Neue', 'RobotoLight', 'Segoe UI', 'Segoe WP', sans-serif
$alt-font     = 'Century Gothic', sans-serif

// Colors
$border       = hsl(   0,  0%, 90% )
$gray         = hsl(   0,  0%, 50% )
$red          = hsl(   0, 50%, 50% )
$blue         = hsl( 200, 50%, 50% )